header.site-header {
  background: $white;

  .logo-bar {
    border-top: 0.75rem solid $primary-color;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    background: $white;
  }

  .featured-image {
    position: relative;
    z-index: 3;
    img {
      width: 100%;
    }
  }

  .logo {
    img {
      width: 10rem;
      @include breakpoint(medium) {
        width: 18rem;
      }
    }
  }

  .lang {
    a {
      margin-left: 0.5rem;
      img {
        width: 1.55rem;
      }
    }
    @include breakpoint(medium) {
      a {
        margin-left: 0.75rem;
        img {
          width: 2rem;
        }
      }
    }
  }

  .top-bar {
    padding: 0;
    align-items: stretch;
    @include breakpoint(medium) {
      padding: 0 1rem;
    }
    .left {
      flex: 1;
    }
    a {
      color: $white;
      font-weight: $global-weight-bold;
    }
    .right {
      padding-right: 1rem;
      position: relative;
      z-index: 4;
      background: $black;
    }
    .title-bar {
      position: relative;
      z-index: 3;
      padding: 1rem 0.5rem;
      button {
        position: relative;
        &::before {
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px;
          border-bottom-width: 6px;
          content: '';
          border-bottom-width: 0;
          border-color: $white transparent transparent;
          margin-left: 1.7rem;
        }
        &.open {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }
    #main-nav {
      z-index: 2;
      position: relative;
      li {
        a {

        }
        &.active,
        &:hover {
          & > a {
            background: lighten($black, 15%) !important;
          }
        }
      }
      @include breakpoint(small only) {
        position: absolute;
        z-index: 2;
        left: 0;
        padding: 0.5rem 0;
        width: 15rem;
        transform: translate3d(0, -100%, 0);
        transition: transform 0.3s ease;

        &.open {
          transform: translate3d(0, 0, 0);
        }

        & > li {
          & > a {
            &:before {
              content: '-';
              margin-right: 1rem;
            }
            padding: 0.7rem 1.2rem;
          }
        }
        .submenu {
          background: lighten($black, 20%);

          a {
            padding-left: 2.5rem;
          }
        }
      }

      @include breakpoint(medium) {
        height: 100%;
        & > li {
          position: relative;
          & > a {
            position: relative;
            z-index: 2;
            background: $black;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
        .submenu {
          position: absolute;
          transform: translate3d(0, -100%, 0);
          transition: transform 0.3s ease;
          width: 13rem;
        }
        .has-submenu {
          & > a {
            &::after {
              display: block;
              width: 0;
              height: 0;
              content: "";
              border-color: #fff transparent transparent;
              border-style: solid;
              border-width: 6px 6px 0;
              right: 5px;
              left: auto;
              margin-top: 2px;
              margin-left: .25rem;
            }
          }
          &:hover {
            .submenu {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }
}