<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "CoastSnap", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="site-header">

      <div class="logo-bar">
        <a href="#" class="logo">
          <%= img_tag("/images/logo.png", class: "square-logo") %>
        </a>
      </div>

      <div class="top-bar">
        <nav class="left">
          <ul id="main-nav" class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" data-animate="slide-in-down slide-out-up">
            <li><a href="/admin/snap_shots">Snapshots</a></li>
            <li><a href="/admin/pages">Articles</a></li>
            <li><a href="/admin/uploads">Uploads</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/yoda">Yoda</a></li>
          </ul>
        </nav>
        <div class="right">
          <%= render "_user_menu.html", assigns %>
          <%= img_tag("/images/uu-bw-logo.png", class: "bar-logo") %>
        </div>
      </div>
    </header>

    <div class="main grid-container">
      <div class="grid-x grid-margin-x grid-padding-y">
        <div class="cell">
          <%= @inner_content %>
        </div>
      </div>
    </div>
  </body>
</html>
